# Python
__pycache__/
*.py[cod]
*$py.class
*.env
.venv/
env/
venv/
ENV/
python/
.pytest_cache/

# Node
node_modules/
/frontend/dist
/frontend/build
.eslintcache
.yarn-clean
*.local

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
